POSTGRES_DB=lte_pm
POSTGRES_USER=lte_pm
POSTGRES_PASSWORD=lte_pm
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
FTP_HOST=
FTP_PORT=21
FTP_USERNAME=
FTP_PASSWORD=
FTP_REMOTE_DIRECTORY=/
FTP_REMOTE_DIRECTORIES=
FTP_PASSIVE_MODE=true
